

<div class="registration-container margin">
  <div class="registration-box">
    <main>
      <div class="container">
        <h1 class="text-center">Registrati</h1>
        <p class="text-center"><a class="nav-link"  routerLink="/auth/login" routerLinkActive="active">Oppure fai il login</a></p>
        <form #form="ngForm" (ngSubmit)="registra(form)">
          <div class="form-group" class="text-center">
            <label for="nome">Nome</label>
            <input type="text" id="nome" class="form-control" name="nome" required ngModel >
            <label for="cognome">Cognome</label>
            <input type="text" id="cognome" class="form-control" name="cognome" required ngModel >
            <label for="eta">Età</label>
            <input type="text" id="eta" class="form-control" name="eta" required ngModel >
          </div>
          <div class="form-group" class="text-center">
            <label for="email">Indirizzo e-mail</label>
            <input type="email" id="email" class="form-control" name="email" required ngModel >
          </div>
          <div class="form-group" class="text-center">
            <label for="password">Inserisci password</label>
            <input type="password" id="password" name="password" class="form-control" required ngModel>
          </div>
          <div class="text-center">
             <button type="submit" class="text-center" [disabled]="form.invalid" class="btn mb-5">Registrati</button>
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"></span>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
