<nav class="navbar bg-dark border-bottom border-body navbar-expand-md" data-bs-theme="dark">
  <div class="container-md">
    <a class="navbar-brand me-5" href="#">Logo</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="">Registrati</a>
        <a class="nav-link" routerLink="/">Documentazione</a>
        <a class="nav-link" routerLink="/src/app/pages/dashboard">Home</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>